<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <title>Bootstrap Simple Registration Form</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="signup-form">-->
<!--  <form th:action="@{/services/create}" th:object="${serviceDto}" method="post">-->
<!--    <h2>Register</h2>-->
<!--    <p class="hint-text">Create Customer</p>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="name" placeholder="name" required="required"  th:field="*{serviceName}">-->
<!--      <small th:errors="*{serviceName}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="area" placeholder="area" required="required"  th:field="*{area}">-->
<!--      <small th:errors="*{area}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="poolArea" placeholder="poolArea" required="required"th:field="*{poolArea}">-->
<!--      <small th:errors="*{poolArea}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="Cost" placeholder="Cost" required="required"th:field="*{cost}">-->
<!--      <small th:errors="*{cost}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="people" placeholder="people" required="required"th:field="*{maxPeople}">-->
<!--      <small th:errors="*{maxPeople}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="Standard room" placeholder="Standard room" required="required"th:field="*{standardRoom}">-->
<!--      <small th:errors="*{standardRoom}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="description" placeholder="description" required="required"th:field="*{description}">-->
<!--      <small th:errors="*{description}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="numberFloor" placeholder="numberFloor" required="required"th:field="*{numberFloor}">-->
<!--      <small th:errors="*{numberFloor}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputType">Type Service</label>-->
<!--      <div>-->
<!--        <select class="custom-select custom-select-sm" th:field="*{serviceType}">-->
<!--          <option th:each="s : ${serviceTypes}"th:value="${s.serviceTypeId}"-->
<!--                  th:text="${s.serviceTypeName}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label for="inputType">rentTypeId</label>-->
<!--      <div>-->
<!--        <select class="custom-selerentTypeIdct custom-select-sm"  id="inputType" th:field="*{rentType}">-->
<!--          <option th:each="s : ${rentTypes}"th:value="${s.rentTypeId}"-->
<!--                  th:text="${s.rentTypeName}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="submit" value="create" class="btn btn-success btn-lg btn-block">Create service</input>-->
<!--    </div>-->

<!--  </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

