<!--<body>-->
<!--<div class="container-xl">-->
<!--  <div class="table-responsive">-->
<!--    <div class="table-wrapper">-->
<!--      <div class="table-title">-->
<!--        <div class="row">-->
<!--          <div class="col-sm-8"><h2>services <b>Details</b></h2></div>-->
<!--          <div class="col-sm-4">-->
<!--            <div class="search-box">-->
<!--              <form class="form-inline my-2 my-lg-0 d-flex">-->
<!--                <i class="material-icons">&#xE8B6;</i>-->
<!--                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">-->
<!--                <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>-->
<!--              </form>-->
<!--            </div>-->
<!--            <div class="add-box">-->
<!--              <a href="/services/create" class="btn btn-success"><i-->
<!--                class="material-icons">&#xE147;</i> <span>Add New Service</span></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <table class="table table-striped table-hover table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">ID</th>-->
<!--          <th scope="col">Name</th>-->
<!--          <th scope="col">Area</th>-->
<!--          <th scope="col">Cost</th>-->
<!--          <th scope="col">Max People</th>-->
<!--          <th scope="col">Rent type</th>-->
<!--          <th scope="col">Service type</th>-->
<!--          <th scope="col">Show</th>-->
<!--          <th scope="col">Edit</th>-->
<!--          <th scope="col">Delete</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="service,s : ${services}">-->
<!--          <th scope="row" th:text="${service.serviceId}">${service.id}</th>-->
<!--          <td th:text="${service.serviceName}"></td>-->
<!--          <td th:text="${service.area}"></td>-->
<!--          <td th:text="${service.cost}"></td>-->
<!--          <td th:text="${service.maxPeople}"></td>-->
<!--          <td th:text="${service.rentType.rentTypeName}"></td>-->
<!--          <td th:text="${service.serviceType.serviceTypeName}"></td>-->
<!--          <td><a href="#" class="view" title="View" data-toggle="tooltip"><i-->
<!--            class="material-icons">&#xE417;</i></a></td>-->
<!--          <td><a href="#" class="edit" title="Edit" data-toggle="tooltip"-->
<!--                 th:href="@{/services/edit(id=${service.serviceId})}"><i-->
<!--            class="material-icons">&#xE254;</i></a></td>-->
<!--          <td>-->
<!--            <button type="button" class="btn btn-danger buttonDelete" data-toggle="modal"-->
<!--                    data-target="#exampleModal"-->
<!--                    th:data1="${service.serviceId}" th:data2="${service.serviceName}"-->
<!--                    onclick="sendData(this.getAttribute('data1'),this.getAttribute('data2'))">-->
<!--              Delete-->
<!--            </button>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--           aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <form action="/services/delete" method="post">-->
<!--              <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Delete service</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                  <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                Do you want to delete <span style="color: red" id="customerName"></span>???-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="submit" class="btn btn-primary">Delete</button>-->
<!--                <input type="hidden" id="customerId" name="id">-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a class="btn btn-info" th:href="@{/services(page=${services.number - 1},keyWord=${search})}"-->
<!--           th:if="${services.hasPrevious()}">Previous</a>-->
<!--        <span th:text="${services.number+1}"></span>/<span th:text="${services.totalPages}"></span>-->
<!--        <a class="btn btn-info" th:href="@{/services(page=${services.number + 1},keyWord=${search})}"-->
<!--           th:if="${services.hasNext()}">Next</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

