<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->
<!--  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--  <title>Bootstrap Simple Data Table</title>-->

<!--  <script>-->
<!--    $(document).ready(function () {-->
<!--      $('[data-toggle="tooltip"]').tooltip();-->
<!--    });-->
<!--  </script>-->
<!--</head>-->
<!--<body>-->
<!--<div class="container-xl">-->
<!--  <div class="table-responsive">-->
<!--    <div class="table-wrapper">-->
<!--      <div class="table-title">-->
<!--        <p style="color: #005cbf" th:text="${msg}"></p>-->
<!--        <div class="row">-->
<!--          <div class="col-sm-8"><h2><b>Customer</b></h2></div>-->
<!--          <div class="col-sm-4">-->
<!--            <div class="search-box">-->
<!--              <form  class="form-inline md-form mr-auto mb-4" >-->
<!--                <i class="material-icons">&#xE8B6;</i>-->
<!--                <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">-->
<!--                <button class="form-control " type="submit">Search</button>-->
<!--              </form>-->
<!--            </div>-->
<!--            <div class="add-box">-->
<!--              <a href="/customers/create" class="btn btn-success"><i-->
<!--                class="material-icons">&#xE147;</i> <span>Add New Customer</span></a>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <table class="table table-striped table-hover table-bordered">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th scope="col">STT</th>-->
<!--          <th scope="col">Customer Code</th>-->
<!--          <th scope="col">Name</th>-->
<!--          <th scope="col">Type Customer</th>-->
<!--          <th scope="col">Gender</th>-->
<!--          <th scope="col">Email</th>-->
<!--          <th scope="col">Address</th>-->
<!--          <th scope="col">View</th>-->
<!--          <th scope="col">Edit</th>-->
<!--          <th scope="col">Delete</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="customer,status : ${customers}">-->
<!--          <th scope="row" th:text="${status.count}"></th>-->
<!--          <th th:text="${customer.customerCode}"></th>-->
<!--          <td th:text="${customer.customerName}"></td>-->
<!--          <td th:text="${customer.customerType.customerTypeName}"></td>-->
<!--          <td th:text="${customer.customerGender}"></td>-->
<!--          <td th:text="${customer.customerEmail}"></td>-->
<!--          <td th:text="${customer.customerAddress}"></td>-->
<!--          <td><a href="#" class="view" title="View" data-toggle="tooltip"><i-->
<!--            class="material-icons">&#xE417;</i></a></td>-->
<!--          <td><a href="#" class="edit" title="Edit" data-toggle="tooltip"-->
<!--                 th:href="@{/customers/edit(id=${customer.customerId})}"><i-->
<!--            class="material-icons">&#xE254;</i></a></td>-->
<!--          <td>-->
<!--            <button type="button" class="btn btn-danger buttonDelete" data-toggle="modal"-->
<!--                    data-target="#exampleModal"-->
<!--                    th:data1="${customer.customerId}" th:data2="${customer.customerName}"-->
<!--                    onclick="sendData(this.getAttribute('data1'),this.getAttribute('data2'))">-->
<!--              Delete-->
<!--            </button>-->
<!--          </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--           aria-hidden="true">-->
<!--        <div class="modal-dialog">-->
<!--          <div class="modal-content">-->
<!--            <form action="/customers/delete" method="post">-->
<!--              <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                  <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--              </div>-->
<!--              <div class="modal-body">-->
<!--                Do you want to delete <span style="color: red" id="customerName"></span>???-->
<!--              </div>-->
<!--              <div class="modal-footer">-->
<!--                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                <button type="submit" class="btn btn-primary">Delete</button>-->
<!--                <input type="hidden" id="customerId" name="id">-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div>-->
<!--        <a class="btn btn-info" th:href="@{/customers(page=${customers.number - 1},keyWord=${search})}"-->
<!--           th:if="${customers.hasPrevious()}">Previous</a>-->
<!--        <span th:text="${customers.number+1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--        <a class="btn btn-info" th:href="@{/customers(page=${customers.number + 1},keyWord=${search})}"-->
<!--           th:if="${customers.hasNext()}">Next</a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<script type="text/javascript">-->
<!--  function sendData(id, name) {-->
<!--    document.getElementById("customerName").innerText = name;-->
<!--    document.getElementById("customerId").value = id;-->
<!--  }-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

