<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--  <meta charset="utf-8">-->

<!--  <title>Bootstrap Simple Registration Form</title>-->
<!--</head>-->
<!--<body>-->
<!--<div class="signup-form">-->
<!--  <form th:action="@{/employees/create}" th:object="${employeeDto}" method="post">-->
<!--    <h2>Register</h2>-->
<!--    <p class="hint-text">Create Customer</p>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="name" placeholder="name" required="required"-->
<!--             th:field="*{name}">-->
<!--      <small style="color: red"  th:errors="*{name}" ></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="date" class="form-control" name="birthday" placeholder="birthday" required="required"-->
<!--             th:field="*{birthday}">-->
<!--      <small style="color: red"  th:errors="*{birthday}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="idCard" placeholder="idCard" required="required"-->
<!--             th:field="*{idCard}">-->
<!--      <small style="color: red"  th:errors="*{idCard}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="salary" placeholder="salary"-->
<!--             required="required" th:field="*{salary}">-->
<!--      <small style="color: red"  th:errors="*{salary}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="phone" placeholder="phone" required="required"-->
<!--             th:field="*{phone}">-->
<!--      <small style="color: red"  th:errors="*{phone}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="email" class="form-control" name="email" placeholder="email" required="required"-->
<!--             th:field="*{email}">-->
<!--      <small style="color: red"  th:errors="*{email}"></small>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="text" class="form-control" name="address" placeholder="address"-->
<!--             required="required" th:field="*{address}">-->
<!--      <small style="color: red"  th:errors="*{address}"></small>-->

<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>division</label>-->
<!--      <div>-->
<!--        <select class="custom-select custom-select-sm" th:field="*{division}">-->
<!--          <option th:each="division : ${divisions}" th:value="${division.divisionId}"-->
<!--                  th:text="${division.divisionName}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>position</label>-->
<!--      <div>-->
<!--        <select class="custom-select custom-select-sm" th:field="*{position}">-->
<!--          <option th:each="position : ${positions}" th:value="${position.positionId}"-->
<!--                  th:text="${position.positionName}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label>education</label>-->
<!--      <div>-->
<!--        <select class="custom-select custom-select-sm" th:field="*{education}">-->
<!--          <option th:each="education : ${educations}" th:value="${education.educationId}"-->
<!--                  th:text="${education.educationName}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <label> user</label>-->
<!--      <div>-->
<!--        <select class="custom-select custom-select-sm" th:field="*{user}">-->
<!--          <option th:each="user : ${users}" th:value="${user.id}"-->
<!--                  th:text="${user.username}"></option>-->
<!--        </select>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--      <input type="submit" value="create" class="btn btn-success btn-lg btn-block">Create employee</input>-->
<!--    </div>-->
<!--  </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
